{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace ic = JosefGlatz\Iconcheck\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="backendModule.Iconcheck" /></h1>
	<p class="lead">List registered icon identifiers and show icons with string
		<f:for each="{iconsToShow}" as="icon" key="key" iteration="i"><strong>{key}</strong><f:if condition="{i.isLast}" then="." else=" / " />
		</f:for> <span class="text-muted small">An Adminstrator can set the desired icons to show within the extension configuration.</span>
	</p>

	<f:if condition="{setupWarning} !== false">
		<f:variable name="keysToShow"><f:spaceless>
			<f:for each="{iconsToShow}" as="icon" key="key" iteration="i">{key}{f:if(condition: i.isLast, else: ', ')}</f:for>
		</f:spaceless></f:variable>
	</f:if>

	<div class="hidden show-when-copy-paste-supported">
		<f:be.infobox title="Click to Copy" state="-1" disableIcon="false">
			Click to copy a specific icon identifier to your clipboard.
		</f:be.infobox>
	</div>

	<hr>

	<h2>Filter icons</h2>

	<div class="row">
		<div class="col-12 col-md-4 col-lg-2">
			<input type="text" id="t3js-icon-search" class="form-control t3js-clearable">
		</div>
	</div>

	<hr>

	<f:for each="{iconsToShow}" as="showIcons" key="key">
		<f:render section="Table" arguments="{icons: showIcons, key: key}" />
	</f:for>

	<f:if condition="{allIcons}">
		<h2>All Icon identifiers</h2>
		<div class="row">
			<f:for each="{allIcons}" as="icon">
				<div class="col-md-6 col-lg-3 click-to-copy" data-icon-identifier="{icon}" data-clipboard-text="{icon}">
					<span class="icon-container-icon"></span>
					<span class="icon-container-label">{icon}</span>
				</div>
			</f:for>
		</div>
	</f:if>
</f:section>

<f:section name="Table">
	<h2>Icons prefixed with "<strong>{key}</strong>"</h2>
	<div class="icon-list">
		<f:for each="{icons}" as="icon">
			<f:render section="IconContainer" arguments="{_all}" />
		</f:for>
	</div>

</f:section>

<f:section name="IconContainer">
	<div data-clipboard-text="{icon}" class="col-12 col-sm-6 col-md-3 icon-container text-center click-to-copy" data-icon-identifier="{icon}">
		<core:icon identifier="{icon}" size="large" />
		<p>{icon}</p>
	</div>
</f:section>
