<f:be.pageRenderer
	includeCssFiles="{0: '{f:uri.resource(path:\'Css/styles.css\')}'}"
/>

<div id="container-content" class="m-iconcheck">
	<f:render section="content" />
</div>
<hr>
<div id="footer-content" class="text-right small text-muted">
	<a href="https://github.com/josefglatz/iconcheck">Iconcheck</a> was created as a part for the <a href="https://github.com/josefglatz/TYPO3-Distribution" target="_blank">TYPO3-Distribution</a> from
	<a href="http://www.josefglatz.at">Josef Glatz</a>.
</div>
