.module-body {
	background-color: hsl(0, 0%, 97%);
}

.module-body .panel {
	box-shadow: none;
	background: transparent;
}

.icon-list {
	border: none;
	display: flex;
	flex-wrap: wrap;
	background: transparent;
}
.icon-list > .icon-container {
	flex: 0 0 auto;
	width: 100%;
}

@media (min-width: 400px) {
	.icon-list > .icon-container {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.icon-list > .icon-container {
		width: 33.33%;
	}
}

@media (min-width: 990px) {
	.icon-list > .icon-container {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.icon-list > .icon-container {
		width: 20%;
	}
}

@media (min-width: 1280px) {
	.icon-list > .icon-container {
		width: 16.666%;
	}
}

@media (min-width: 1440px) {
	.icon-list > .icon-container {
		width: 12.5%;
	}
}


.icon-container {
	padding: 20px;
	font-size: 9px;
	background-color: white;
	border: 6px solid hsl(0, 0%, 97%);
}

.icon-container:hover {
	background-image: linear-gradient(45deg, #ffffff 33.33%, #fafafa 33.33%, #fafafa 50%, #ffffff 50%, #ffffff 83.33%, #fafafa 83.33%, #fafafa 100%);
	background-size: 6.00px 6.00px;
}

.icon-container:hover .icon {
	transform: scale(1.5);
}

.icon-container p {
	margin-top: 20px
}

.copy-paste-supported .click-to-copy {
	cursor: pointer;
}
